<h1>Hello and welcome to <strong>Usenet Trends</strong>!</h1>

<p>What is this? Please read <a href="https://github.com/edisgreat/usenet-trends/blob/master/README.md">here</a></p>

<p>Submit request click <a href="/requests/new">here</a></p>

<p>Browse other searches <a href="/requests">here</a>

