<h1>Hello and welcome to <strong>Usenet Trends</strong>!</h1>

<p><strong>What is this?</strong></p>
<p>Usenet Trends was made to facilitate searching into the vast Usenet archives with a "Google Trends" type of interface. The Usenet Archives date back to 1980, and are currently hosted on Google Groups. They are a valuable historical commodity. Since Google does not have a public API into Google Groups, we have to use some non-traditional methods to surface information. More info <a href="https://github.com/edisgreat/usenet-trends/blob/master/README.md">here</a></p>

<p><a href="/requests/new">Submit new request </a></p>

<p>Interesting previous searches and finds <a href="/requests/archives">here</a></p>

<p>Full list of previous searches <a href="/requests">here</a>

