<h2>Interesting Searches found with Usenet Trends</h2>
<h3>Richard Stallman</h3>
<p><a href="http://www.usenettrends.com/requests/5">Usenet Trends search for Richard Stallman</a></p>
<p>As a note, it is hard to search for Richard Stallman since he usually signs his posts RDS, which is a term that gets lost in the searches. Some interesting discussions about the release of the GNU Manifesto:</p>
<p>March 1985 - <a target="_blank" href="https://groups.google.com/forum/#!search/%22Richard$20Stallman%22$20after$3A1985-03-01$20before$3A1985-04-01/net.micro/no78f9cb5HE/kluT-BYFHkoJ">"I'm glad that I don't think RMS will
succeed.  If he gets his way, unix will be the last operating system, as
nobody will upgrade it for a long, long time."</a></p>
<p>March 1985 - <a target="_blank" href="https://groups.google.com/forum/#!search/%22The$20GNU$20Manifesto$20%22$20before$3A1985-04-01/net.micro/xcgwyZk8tAs/2hfK0lK6nw0J">"This would be really funny, if it wasn't so pitiful that an obviously
talented guy was wasting his life, rewriting Unix"</a></p>

<h3>Linus Torvalds</h3>
<p><a href="http://www.usenettrends.com/requests/9">Usenet Trends search for Linus Torvalds</a></p>
<p>Early Usenet posts from Linus:</p>
<p>Jan 1991 - <a href="https://groups.google.com/forum/#!search/%22linus$20torvalds%22$20after$3A1991-01-01$20before$3A1991-02-01" target="_blank">Linus asking for help with an SVGA card for his "new fine computer (386,33MHz)"</a></p>
<p>Nov 1991 - <a href="https://groups.google.com/forum/#!search/$20%22Linus$20Benedict$20Torvalds%22$20$7C$7C$20%22Linus$20Torvalds%22$20after$3A1991-08-01$20before$3A1991-09-01/comp.os.minix/dlNtH7RRrGA/9W6fRn8oRgsJ" target="_blank">The famous "First Linux" post Linus wrote</a></p>

<h3>Javascript</h3>
<p><a href="http://www.usenettrends.com/requests/2">Usenet Trends search for Javascript</a></p>
<p>Javascript arrived on the internet with a bang, and immediatly was a huge converstaion topic as people discussed the language and usage. The above trends search shows the limitations where we can only detect up to 20 posts in a single day. An actual popularity graph would likely be exponential.</p>
<p>Dec 1995 - <a href="https://groups.google.com/forum/#!search/%22javascript%22$20after$3A1995-12-09$20before$3A1995-12-10/comp.lang.java/C4Rl-18mbBg/cOIo139Rm-0J" target="_blank">Some of the earliest posts about Javascript were complaining about the name, and people getting it confused with the newly released Java language by Sun</a></p>
<p>Nov 1995 - <a href="https://groups.google.com/forum/#!search/%22javascript%22$20after$3A1995-12-09$20before$3A1995-12-10/comp.lang.java/C4Rl-18mbBg/cOIo139Rm-0J" target="_blank">"THE DEATH OF LIVESCRIPT AND JAVA" A post that predicts that Java and Javascript are doomed to fail due to vulnerabilities of executing arbritrary code in client browsers.</a></p>

<h3>Quentin Tarantino</h3>
<p><a href="http://www.usenettrends.com/requests/9">Usenet Trends search for Quentin Tarantino</a></p>
<p>Usenet Trends is neat for reading people's earliest impressions of newly released media and current events</p>
<p>Sept 1992 - <a href="https://groups.google.com/forum/#!search/%22quentin$20tarantino%22$20after$3A1992-09-01$20before$3A1992-10-01/rec.arts.movies/YXS_9JG9GWQ/p-YP2kNfVYEJ" target="_blank">"Reservoir Dogs review. See this film!" Immediatly followed by "Reservoir Dogs" review. (DO NOT) See this film!"</a></p>

<h3>Doom Clone vs First Person Shooter</h3>
<p><a href="http://www.usenettrends.com/requests/3">Usenet Trends search for Doom Clone</a></p>
<p><a href="http://www.usenettrends.com/requests/4">Usenet Trends search for First Person Shooter</a></p>
<p>This was the original inspiration for this project, taken from an <a href="/assets/doomclone_vs_fps.webp">image</a> found on the internet a long time ago.</p>

<h3>Berlin Wall</h3>
<p><a href="http://www.usenettrends.com/requests/8">Usenet Trends search for Berlin Wall</a></p>
<p>This was surprising because the conversation topics seem to be very short lived about this event. Most of the discussion at the time about the fall of the wall is this one thread:</p>
<p>Nov 1991 - <a href="https://groups.google.com/forum/#!search/%22Berlin$20Wall%22$20after$3A1989-11-17$20before$3A1989-11-18/eunet.politics/LbrVEM7zp-Y/hIMTuW_6kt8J" target="_blank">"As we sit here in West Berlin this morning, we are just discussing the news
about the wall - its open and may soon be no more!!!!"</a></p>